* {
    background-color: #2d2727;
    margin: 0;
    padding: 0;
    font-family: 'Corbel Light';
    
}
h1 {
    margin-top: 25px;
    background-color: #f0eb8d;
    color:black;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    margin-top:10px;
    background-color: #f0eb8d;
    color:black;
    font-size: 15px;
    margin-bottom: 3px;
}

#logo{
    position: relative;
    left: 0px;
    top: 0px;
    height: auto;
    width: 100px;
}

.login-form {
    background-color: #f0eb8d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    border: solid;
    border-color: #f0eb8d;
    margin-left: 700px;
    margin-right: 700px;
    border-radius: 15px;
}

#form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color:#f0eb8d;
}

.title {
    background-color: #f0eb8d;
    text-align: left;
    margin-left: 70px;
    margin-bottom: -15px;
    font-weight: bold;
}
.input {
    background-color: #f0eb8d;
    height: 50px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 10px; 
    font-weight: bold;   
}

#submit {
    margin-top: 10px;
}

#log-in {
    text-decoration: none;
    vertical-align: middle;
    line-height: 35px;
}

.button {
    margin-left: 100px;
    margin-right: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: #413543;
    color: white;
}

.button:hover {
    background-color: #524654;
    cursor: pointer;
    line-height: 100%;
}

#error {
    margin-top: 20px;
    color: #ff4444;
    background-color: #f0eb8d;
    
}

