@font-face {
    font-family: 'nexaextra_light';
    src: url('../fonts/nexa/nexa-extralight.woff2') format('woff2'),
         url('../fonts/nexa/nexa-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexaheavy';
    src: url('../fonts/nexa/nexa-heavy.woff2') format('woff2'),
         url('../fonts/nexa/nexa-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    background-color: #2d2727;
    margin: 0;
    padding: 0;
    font-family: 'nexaextra_light';
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

#logo{
    width: 25%;
    height: auto;
    text-align: center;
    margin: auto;
    display: block;
}

h1 {
    color: whitesmoke;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
}

h2 {
    margin-top: -100px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 100px;
}

#button2 {
    margin-bottom: 60px;
}

.button {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color:#8F43EE;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    vertical-align: middle;
    border-radius: 15px;
    text-justify: auto;
    margin: auto;
    padding: 5px;
    margin-bottom: 5px;
}

.button:hover {
    background-color:#9F54FF;
    cursor: pointer;
}

.logo {
    -webkit-animation: action 3s infinite  alternate;
    animation: action 1s infinite  alternate;
}

.upperLogo #logo{

    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards; /*THis shit just makes it stay in the last animation place*/ 
}

@keyframes example {
    0% {width: 25%; left: 40%; top: 40%;}
    100%  {left:0px; top:0px; width: 7%; }
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}