@font-face {
    font-family: 'nexaextra_light';
    src: url('../fonts/nexa/nexa-extralight.woff2') format('woff2'),
         url('../fonts/nexa/nexa-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nexaheavy';
    src: url('../fonts/nexa/nexa-heavy.woff2') format('woff2'),
         url('../fonts/nexa/nexa-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'nexaextra_light';
}

.logo{
    position: relative;
    left: 0px;
    top: 0px;
    height: auto;
    width: 7%;
}

@media screen and (max-width: 676px) {
    .logo {
        width: 20%;
    }
}

.parent {
    position: relative;
    display: block;
    padding:0;
    width:100%;
    height:100%;
}



.topright {   
    position:absolute;
    top: 0;
    right:0;
}

.topleft {
    position: absolute;
    top:0;
    left:0;
}

.greeting {
    position: relative;
    width:30%;
    margin:auto;
}

@media screen and (max-width: 676px) {
    .greeting {
        padding-top: 2em;
    }
}

button {
    display: inline-block;
    width: 125px;
    height: auto;
    min-height: 30px;
    border-radius: 15px;
    background-color: #00A7D8;
    color: white;
    font-family: 'nexaextra_light';
    font-weight: bold;
    border: 0.5px solid black;
}

@media screen and (max-width: 676px) {
    button {
        width: 70px;
    }

    .logout {
        width: 65px;
    }

}

.centertext {
    text-align: center;
    color: black;
    font-size: 45px;
    font-family: 'nexaheavy';
    text-align: center;
}

@media screen and (max-width: 676px) {
    .centertext {
        font-size: 24px;
    }
}


.profileDiv {
    margin:auto;
    text-align:center;
    width: 250px;
    height: 250px;
}

@media screen and (max-width: 676px) {
    .profileDiv {
        width: 125px;
        height: 125px;
        margin-bottom: 2%;
    }
}

.profilePic {
    background-color: #E5E8E4;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px black;
} 



.bioDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: #E5E8E4;
    width:30%;
    height:70%;
    min-width: 330px;
    margin-left: 10%;
    margin-top:3%;
    border-radius: 1%;
    padding: 2%;
    position:relative;
    float:left;
    overflow: hidden;

    color: black;
    border:1px solid #6b6969;
} 

@media screen and (max-width: 676px) {
    .bioDiv {
        width: 25%;
        margin: auto;
        float:none;
    }
}

.preferenceDiv {
    display: flex;
    flex-direction: column;

    background-color: hsl(105, 8%, 90%);
    border:1px solid #6b6969;

    width: 20%;
    height: 71%;
    min-width: 250px;
    min-height: 70%;
    margin-right: 20%;
    margin-top:3%;
    float:right;
    border-radius: 1%;
    padding: 2%;
    position:relative;
    overflow: hidden;
} 

@media screen and (max-width: 676px) {
    .preferenceDiv {
        width: 90%;
        margin: auto;
        margin-top: 5%;
        height: 80%;
        float:none;
    }
}

.divHeader {
    margin:auto;
    margin-top:4%;
    margin-bottom:4%;
    font-family: 'nexaheavy';
    color: #ED7B07;
    text-shadow: 2px 2px #a35608;

}

.bioText {
    font-size: 18px;
    position:relative;
    background-color: white;
    margin-top: 6%;
}

.genderP {
    position: relative;
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    background-color: #f1f1f1;
}

.universityP {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-weight: bold;
    background-color: #f1f1f1;
}
.majorP {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-weight: bold;
    background-color: #f1f1f1;

}

.innerFlex {
    justify-content: space-between;
    /*flex:50%; */
    position: relative;
    display:flex;
    flex-wrap:wrap;
    background-color: hsl(105, 8%, 90%);
    /*float:left; */
    justify-content: center;

}



.preferenceHeader {
    margin:auto;
    margin-top:4%;
    font-family: 'nexaheavy';
    color: #ED7B07;
}


.preferenceBox {
    background-color: #f1f1f1;
    width:100%;
    height: 10%;
    text-align: center;
    font-weight: bold;
    overflow-wrap:break-word;
    font-weight: bold;
    margin-top:4%;
    vertical-align: middle;
    padding-top: 5%;
    font-size: 20px;
    color:black;
}

textarea {
    width: 100%;
    height: auto;
    max-height: 100%;
    resize:none;
}

h1 {    
    background-color: #E5E8E4;
    color:#ED7B07;
    font-size: 42px;
    font-family: 'nexaheavy';
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    position:relative;
}

.bottom {
    margin-bottom: 1%;
}

@media screen and (max-width: 676px) {
    .parent {
        align-content: center;
    }
}