@font-face {
    font-family: 'nexaextra_light';
    src: url('../fonts/nexa/nexa-extralight.woff2') format('woff2'),
         url('../fonts/nexa/nexa-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexaheavy';
    src: url('../fonts/nexa/nexa-heavy.woff2') format('woff2'),
         url('../fonts/nexa/nexa-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'nexaextra_light';
}
.topright {
    display: flex;
    position:absolute;
    top:105;
    right:0;
}

.topleft {
    position: absolute;
    top:105;
    left:0;
}

.greeting {

    margin-top: 105;
    margin: 0 auto;
}

.homeButton {
    width: 125px;
    height: 40px;
}

.centertext {
    text-align: center;
}

