@font-face {
    font-family: 'nexaextra_light';
    src: url('../fonts/nexa/nexa-extralight.woff2') format('woff2'),
         url('../fonts/nexa/nexa-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexaheavy';
    src: url('../fonts/nexa/nexa-heavy.woff2') format('woff2'),
         url('../fonts/nexa/nexa-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    font-family: 'nexaextra_light';
}

.logo{
    position: relative;
    left: 0px;
    top: 0px;
    height: auto;
    width: 7%;
}

.form {
    display: flex;
    background-color: #E5E8E4;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 0px;
    margin-bottom: 10%;
    border-radius: 1%;
    padding: 2%;
}

input {
    margin-top: -1%;
}

form {
    background-color: #E5E8E4;
}

h1 {    
    background-color: #E5E8E4;
    color:#ED7B07;
    font-size: 42px;
    font-family: 'nexaheavy';
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

#error {
    color: red;
    font-size: 15px;
    background-color: #E5E8E4;
    margin-bottom: 5%;

}

#form {
    display: flex;
    justify-content: center;
    background-color: #E5E8E4;
    flex-direction: column;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color:#E5E8E4;
}

.gender-container{
    background-color:#E5E8E4;
    text-align: left;
    margin-top: 2%;
}

label#gender{
    background-color:#E5E8E4;
    margin-bottom: 5%;
    font-weight: 200px;
}

label{
    background-color:#E5E8E4;
    margin-bottom: 5%;
}

.gender {
    margin-bottom: 2%;
}

.button {
    margin-left: 20%;
    margin-right: 20%;
    min-width: 40%;
    height: 35px;
    border-radius: 15px;
    border: 0.5px solid gray;
    background-color: #00A7D8;
    color: white;
    font-family: 'nexaheavy';
}

.spacer {
    padding:1%;
    background-color:#E5E8E4;
}

.description-container {
    background-color: #E5E8E4;
    margin-top: 3%;
}

.preferences-container {
    background-color: #E5E8E4;
    margin-top: 3%;
}

.submit {
    margin-top: 4%;
}


.midsized {
    font-size: 18px;
}

.form-background {
    background-color: #E5E8E4;
}

p {
    margin-top: 2%;
}

textarea {
    width: 100%;
    height: auto;
    max-height: 100%;
    resize:none;
}


/*New*/

.wrapper{
    width: 370px;
    margin: 85px auto 0;
}
.select-btn, li{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
.select-btn{
    height: 65px;
    padding: 0 20px;
    font-size: 22px;
    background: #fff;
    border-radius: 7px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btn i{
    font-size: 31px;
    transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
    transform: rotate(-180deg);
}
.content{
    display: none;
    padding: 20px;
    margin-top: 15px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.wrapper.active .content{
    display: block;
}
.content .search{
    position: relative;
}
.search i{
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}
.search input{
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    padding: 0 20px 0 43px;
    border: 1px solid #B3B3B3;
}
.search input:focus{
    padding-left: 42px;
    border: 2px solid #4285f4;
}
.search input::placeholder{
    color: #bfbfbf;
}
.content .options{
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
}
.options::-webkit-scrollbar{
    width: 7px;
}
.options::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
}
.options li{
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
}
.options li:hover, li.selected{
    border-radius: 5px;
    background: #f2f2f2;
}
