@font-face {
    font-family: 'nexaextra_light';
    src: url('../fonts/nexa/nexa-extralight.woff2') format('woff2'),
         url('../fonts/nexa/nexa-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexaheavy';
    src: url('../fonts/nexa/nexa-heavy.woff2') format('woff2'),
         url('../fonts/nexa/nexa-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    font-family: 'nexaextra_light';
}

.logo{
    position: relative;
    left: 0px;
    top: 0px;
    height: auto;
    width: 7%;
}

.form {
    display: flex;
    background-color: #E5E8E4;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 0px;
    margin-bottom: 10%;
    border-radius: 1%;
    padding: 2%;
}

input {
    margin-top: -1%;
}

form {
    background-color: #E5E8E4;
}

h1 {    
    background-color: #E5E8E4;
    color:#ED7B07;
    font-size: 42px;
    font-family: 'nexaheavy';
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

#error {
    color: red;
    font-size: 15px;
    background-color: #E5E8E4;
    margin-bottom: 5%;

}

#form {
    display: flex;
    justify-content: center;
    background-color: #E5E8E4;
    flex-direction: column;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color:#E5E8E4;
}

.gender-container{
    background-color:#E5E8E4;
    text-align: left;
    margin-top: 2%;
}

label#gender{
    background-color:#E5E8E4;
    margin-bottom: 5%;
    font-weight: 200px;
}

label{
    background-color:#E5E8E4;
    margin-bottom: 5%;
}

.gender {
    margin-bottom: 2%;
}

.button {
    margin-left: 20%;
    margin-right: 20%;
    min-width: 40%;
    height: 35px;
    border-radius: 15px;
    border: 0.5px solid gray;
    background-color: #00A7D8;
    color: white;
    font-family: 'nexaheavy';
}

.spacer {
    padding:1%;
    background-color:#E5E8E4;
}

.description-container {
    background-color: #E5E8E4;
    margin-top: 3%;
}

.preferences-container {
    background-color: #E5E8E4;
    margin-top: 3%;
}

.submit {
    margin-top: 4%;
}


.midsized {
    font-size: 18px;
}

.form-background {
    background-color: #E5E8E4;
}

p {
    margin-top: 2%;
}

textarea {
    resize: none;
}