@font-face {
    font-family: 'nexaextra_light';
    src: url('../fonts/nexa/nexa-extralight.woff2') format('woff2'),
         url('../fonts/nexa/nexa-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexaheavy';
    src: url('../fonts/nexa/nexa-heavy.woff2') format('woff2'),
         url('../fonts/nexa/nexa-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    font-family: 'nexaextra_light';
}

body{
    display: flex;
    flex-direction: column;
}

.err {
    text-align: center;
    background-color: #E5E8E4;
    color: red;
    font-size: 22px;
}

.logo{
    position: relative;
    left: 0px;
    top: 0px;
    height: auto;
    width: 7%;
}

@media screen and (max-width: 676px) {
    .logo {
        width: 20%;
    }
}

#title {
    background-color: #E5E8E4;
    color:#ED7B07;
    font-size: 42px;
    font-family: 'nexaheavy';
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

#image-header{
    background-color: #E5E8E4;
    margin-bottom: 3%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.photo{
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #E5E8E4;
}

@media screen and (max-width: 676px) {
    .photo {
        width: 75%;
        margin: auto;
    }

    hr {
        margin: 1% 0%;
    }
}

.photo-form{
    display: flex;
    flex-direction: column;
    background-color:#E5E8E4; 
    justify-content: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

#profile {
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 10em;
}

#warning{
    margin-top: 2%;
    margin-bottom: 20%;
    font-size: 75%;
    background-color:#E5E8E4;
}

a {
    background-color: #E5E8E4;
}

#upload-button{
    border: none;
    width: 100%;
    margin: auto;
}

.submit-button {
    text-align: center;
    margin: auto;
    background-color: #E5E8E4;
    margin-top: 5%;
    margin-bottom: 15%;
}

.button{
    margin-left: 20%;
    margin-right: 20%;
    min-width: 40%;
    height: 4em;
    border-radius: 15px;
    background-color: #00A7D8;
    color: white;
    font-family: 'nexaheavy';
    justify-content: center;
}

@media screen and (max-width: 676px) {
    .button {
        height: 2.5em;
    }
}

.button:hover {
    background-color: #11B8E9;
    cursor: pointer;
}

#file-select{
    background-color: #E5E8E4;
    text-align-last: center;
    margin: auto;
    width: 100%;
}