@font-face {
    font-family: 'nexaextra_light';
    src: url('../fonts/nexa/nexa-extralight.woff2') format('woff2'),
         url('../fonts/nexa/nexa-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexaheavy';
    src: url('../fonts/nexa/nexa-heavy.woff2') format('woff2'),
         url('../fonts/nexa/nexa-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    font-family: 'nexaextra_light';
}

button {
    font-family : inherit; 
    font-size: 1em; 
}

table, tr, td{
    border: 1px solid black;
    border-radius: 3px;
    
}

th {
    background-color: #ED7B07;
    border: 1px solid black;
    color:#E5E8E4;
}

.fetch-results {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 3%;
}

.acctButton {
    display: inline-block;
    width: 125px;
    height: auto;
    padding: 4% 4%;
    border-radius: 15px;
    background-color: #00A7D8;
    color: white;
    font-family: 'nexaextra_light';
    font-weight: bold;
    border: 0.5px solid black;
}

.spacer {
    padding:0.5%;
    background-color:#E5E8E4;
}

select, input {
    font-family: inherit;
}

div.form
{
    display: block;
    text-align: center;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: left;
}
.sticky {
    position: sticky;
}

.fixed {
    position: fixed;
}

hr {
    position: fixed;
    top: 10%;
    width: 100%;
}

.logo{
    left: 0px;
    top: 0px;
    height: auto;
    width: 7%;
}

.topright {   
    position:absolute;
    top: 0;
    right:0;
}