@font-face {
    font-family: 'nexaextra_light';
    src: url('../fonts/nexa/nexa-extralight.woff2') format('woff2'),
         url('../fonts/nexa/nexa-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexaheavy';
    src: url('../fonts/nexa/nexa-heavy.woff2') format('woff2'),
         url('../fonts/nexa/nexa-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    font-family: 'nexaextra_light';
}

button {
    font-family : inherit; 
    font-size: 1em; 
}

table, tr, td{
    border: 1px solid black;
    border-radius: 3px;
    
}

th {
    background-color: #ED7B07;
    border: 1px solid black;
    color:#E5E8E4;
}

.fetch-results {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

.spacer {
    padding:0.5%;
    background-color:#E5E8E4;
}

select, input {
    font-family: inherit;
}

div.form
{
    display: block;
    text-align: center;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: left;
}